<table>
  <tr>
    <th>Chequeno</th>
    <th>Accountid</th>
    <th>Slipdate</th>
    <th>Payer Accountid</th>
    <th>Payer bank</th>
    <th>chequedate</th>
    <th>amount</th>
    <th>Payer Balance</th>
    <th>action</th>
</tr>
<tr *ngFor="let bankslip of bankslips">
    <td>{{bankslip.chequeno}}</td>
    <td>{{bankslip.accountid.account_id}}</td>
    <td>{{bankslip.slipdate}}</td>
    <td>{{bankslip.payeraccountid.account_id}}</td>
    <td>{{bankslip.payerbank}}</td>
    <td >{{bankslip.chequedate}}</td>
    <td>{{bankslip.amount}}</td>
    <td>{{bankslip.payeraccountid.current_balance}}</td>
      <td>
          <button style="background-color: green;" (click)="acceptBankslip(bankslip.chequeno)" *ngIf="bankslip.payeraccountid.current_balance>=bankslip.amount && isNextThreeMonthsBeforeToday(bankslip.chequedate) ">Accept</button>
          <button style="background-color: red;" (click)="rejectBankslip(bankslip.chequeno)" *ngIf="!isNextThreeMonthsBeforeToday(bankslip.chequedate)">Reject</button>
          <button style="background-color: orange;" (click)="bounceBankslip(bankslip.chequeno)" *ngIf="bankslip.payeraccountid.current_balance<bankslip.amount">Bounce</button>
      </td>
  </tr>
</table>
