
<h1>CLAIM BANKSLIP</h1>
 <select (change)="onaccountChange($event)"> 
    <option value="">select account</option>
    <option *ngFor="let account of accounts">{{account.account_id}}</option>
</select>
<table border="1" id="Bankslip">
    <tr>
        <th>Chequeno</th>
        <th>Accountid</th>
        <th>Slipdate</th>
        <th>Payer Accountid</th>
        <th>chequedate</th>
        <th>amount</th>
        <th>action</th>
    </tr>
    <tr *ngFor="let Bankslip of claimbankslip">
        <td>{{Bankslip.chequeno}}</td>
        <td>{{Bankslip.accountid.account_id}}</td>
        <td>{{Bankslip.slipdate}}</td>
        <td>{{Bankslip.payeraccountid.account_id}}</td>
        <td>{{Bankslip.chequedate}}</td>
        <td>{{Bankslip.amount}}</td>
        <td><button (click)= "message(Bankslip)" *ngIf="Bankslip.slipstatus==='Active'">Claim</button>
            <div  *ngIf="Bankslip.slipstatus==='In progress'">{{Bankslip.slipstatus}}</div>
            <div *ngIf="Bankslip.slipstatus==='Bounced'">{{Bankslip.slipstatus}}</div>
            <div *ngIf="Bankslip.slipstatus==='Rejected'">{{Bankslip.slipstatus}}</div>
            <div *ngIf="Bankslip.slipstatus==='Claimed'">{{Bankslip.slipstatus}}</div>

        </td>
        
    </tr>
</table>