.header{
    font-family: inherit;
    background-color: #088395;
    color: white;
    font-size: xx-large;
    padding: auto;
    text-align: left;
   
    text-decoration: none;
    font-weight: bold;
    

}
a{
    color:skyblue;
    margin-left: 20px;
    text-decoration: none;
}
.my-button{
    background-color: skyblue;
    padding: 8px;
    border-radius: 31px;
    border: 2px solid black;
    color: black;
    border-style: none;
    box-shadow: none;
    font-weight: bold;
    font:inherit;
    cursor: pointer;
}
.my-button:hover, .my-button:active{
    background-color: darkblue;
    color:white;
}