<div class="background-image"></div>


    <div class="main-header">
        <div class="main-header__brand">
            iNB
        </div>
  </div>
  <br>

  <h1>Change Password </h1>
<div class="forgotpassword">
    <br>
   
    <form (ngSubmit)="forgotPassword()">
        <table>
            <tr>
        <td><label for="username">Username:</label></td>
        <td><input type="text" id="username" placeholder="username" [(ngModel)]="customer.userName" name="username" required></td>
        </tr>
        <br><br>
        <tr>
        <td><label for="password">New Password:</label> </td>
        <td><input type="password" id="password" placeholder="new password"[(ngModel)]="customer.password" name="password" required></td>
        </tr>
        <br><br>
        <tr>
        <td><label for="password">confirm Password:</label> </td>
        <td><input type="password" id="password" placeholder="confirm password"[(ngModel)]="customer.confirmPassword" name="password" required></td>
        <br><br>
       </tr>
       <br>
        <button type="submit"  class="button">Change Password</button>
        
    <br>
    <p>{{customer.message}}</p>
</table>
    </form>

</div>
<br><br><br>