<div class="background-image"></div>
<div class="forgotpassword">
    <form (ngSubmit)="forgotPassword()">
        <label for="username">Username:</label>
        <input type="text" id="username" placeholder="username" [(ngModel)]="customer.userName" name="username" required>
        <br><br>
        <label for="password">New Password:</label> 
        <input type="password" id="password" placeholder="new password"[(ngModel)]="customer.password" name="password" required>
        <br><br>
        
        <label for="password">confirm Password:</label> 
        <input type="password" id="password" placeholder="confirm password"[(ngModel)]="customer.confirmPassword" name="password" required>
        <br><br>
        <button type="submit"  class="button">Change Password</button>
    <br>
    <p>{{customer.message}}</p>
    </form>

</div>