<div class="background-image"></div>
<div class="forgotpassword">
    <form (ngSubmit)="forgotPassword()">
        <label for="username">Username:</label>
        <input type="text" id="username" placeholder="username" [(ngModel)]="admin.userName" name="username" required>
        <br><br>
        <label for="password">New Password:</label> 
        <input type="password" id="password" placeholder="new password"[(ngModel)]="admin.adminPassword" name="password" required>
        <br><br>
        
        <label for="password">confirm Password:</label> 
        <input type="password" id="password" placeholder="confirm password"[(ngModel)]="admin.confirmPassword" name="password" required>
        <br><br>
        <button type="submit"  class="button">change password</button>
    <br>
    <p>{{admin.message}}</p>
    </form>

</div>