<div class="card-container">
    <!-- Card 1 -->
    <div class="card">
     <div class="color">hhh</div>
      <div class="card-content">
        <h3>Card 1</h3>
        <p>Description for Card 1.</p>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="card">
      <div class="color"></div>
      <div class="card-content">
        <h3>Card 2</h3>
        <p>Description for Card 2.</p>
      </div>
    </div>
    <div class="card">
      <div class="color"></div>
      <div class="card-content">
        <h3>Card 2</h3>
        <p>Description for Card 2.</p>
      </div>
    </div>
    <div class="card">
      <div class="color"></div>
      <div class="card-content">
        <h3>Card 2</h3>
        <p>Description for Card 2.</p>
      </div>
    </div>
    <div class="card">
      <div class="color"></div>
      <div class="card-content">
        <h3>Card 2</h3>
        <p>Description for Card 2.</p>
      </div>
    </div>
    
    
  </div>

