<div class="head">
  <h1 >Transaction</h1><br>
</div>
<select (change)="onaccountChange($event)"> 
  <option value="">select account</option>
  <option *ngFor="let account of accounts">{{account.account_id}}</option>
</select>
<h1 *ngIf="accountId==''" >Select any account to see transaction</h1>
<h1  *ngIf="accountId!=='' && transaction.length==0">No transaction for this account</h1>
<table border="1" id="transaction" *ngIf="accountId!=='' && transaction.length!==0">
  <tr>
    <th>Transactionid</th>
    <th>Date and type</th>
    <th>Transaction type</th>
    <th>Transaction status</th>
    <th>Amount</th>
   
</tr>
<tr *ngFor="let Transaction of transaction" >
  
  <td>{{Transaction.transactionId}}</td>
  <td>{{Transaction.dateAndTime}}</td>
  <td>{{Transaction.transactionType}}</td>
  <td>{{Transaction.transactionStatus}}</td>
  <td *ngIf="Transaction.fromAccount.account_id===accountId && Transaction.transactionStatus==='Success'" style="color: red;">-{{Transaction.amount}}</td>
  <td *ngIf="Transaction.toAccount.account_id==accountId && Transaction.transactionStatus==='Success' && Transaction.toAccount.account_id!=Transaction.fromAccount.account_id" style="color: green;">+{{Transaction.amount}}</td>
  <td *ngIf="Transaction.toAccount.account_id==accountId && Transaction.transactionStatus==='Failed'" style="color: orange;">{{Transaction.amount}}</td>
  <td *ngIf="Transaction.fromAccount.account_id==accountId && Transaction.transactionStatus==='Failed'" style="color: orange;">{{Transaction.amount}}</td>
</tr>
</table>