#transaction{
    text-align: center;
    background-color: (0,0,0);
    
    color: black;
    width: auto; 
    padding: 30px;
    margin: auto;
    font-family:'Lora', serif;
    font-weight: bold;
    font-size: larger;
    background-size: cover; 
    box-sizing: border-box;
    border-radius: 30px;
}

tr{
    border-radius: 30px;
}

th{
    background-color: #551A8B;
    color: white;
}