
<header class="main-header">
  <a href="#">iNB</a>
    <div class="login">
      <button type="submit"  (click)="goToCustomer()" class="button2"> Customer Login</button><br>
      <br>
      </div>
</header>
<div class="adminlogin">
<form (ngSubmit)="adminLogin()">  
    <h1>Admin Login</h1>
    <br><br>
    <label for="username">Username:</label>
    <input type="text" id="username" placeholder="username" [(ngModel)]="admin.userName" name="username" required>
    <br><br>
    <label for="password">Password:</label> 
    <input type="password" id="password" placeholder="password" [(ngModel)]="admin.adminPassword" name="password" required>
    <br><br>
    <p [hidden]="admin.userName==='' || admin.adminPassword === '' " >{{admin.message}}</p>
    <div >
    <button type="submit"  class="button">Login</button>
    <br><br>
    <a href="forgotAdminPassword">Forgot Password?</a>
    </div>
    <br><br>

  </form>
</div>