<div class="head">
  <h1>CUSTOMER REGISTRATION</h1>
</div>
<form (ngSubmit)="register()">
  <div class="registration">

    <label>FirstName : </label>
    <input type="text" name="FirstName" [(ngModel)]="account.customer_id.firstName" size="50"><br><br>

    <label>LastName : </label>
    <input type="text" name="LastName" [(ngModel)]="account.customer_id.lastName" size="50"><br><br>



    <label>Address line 1:</label>
    <input type="text" name="LastName" [(ngModel)]="account.customer_id.addressLine1" size="50"><br><br>
 

  <label>Address line 2:</label>
  <input type="text" name="addressline 2" [(ngModel)]="account.customer_id.addressLine2" size="50"><br><br>
  

  <label>Address line 3:</label>
  <input type="text" name="addressline 3" [(ngModel)]="account.customer_id.addressLine3" size="50"><br>
  

<br>
  <label>State : </label>&nbsp;&nbsp;
  <select (change)="onStateChange($event)" name="state" [(ngModel)]="account.customer_id.state">
    <option value="">Select State</option>
    <option *ngFor="let state of states" [value]="state">{{ state }}</option>
  </select><br><br>

  <label *ngIf="cities.length > 0">city : </label>&nbsp;&nbsp;
  <select  name="name" *ngIf="cities.length > 0" [(ngModel)]="account.customer_id.city">
    <option value="">Select City</option>
    <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
  </select><br><br>
 

  <label>Zip : </label>&nbsp;&nbsp;
  <input type="text" name="Zip" pattern="\d{6}" maxlength="6" placeholder="6-digit" required
    [(ngModel)]="account.customer_id.zip"><br><br>


  <label for="phone">Phone : </label>&nbsp;
  <input type="number" id="phone" name="phone" [(ngModel)]="account.customer_id.phone"><br><br>


  
  <div class="cell">
    <label for="cell">Cell : </label>&nbsp;&nbsp;
    <input type="tel" id="cell" name="cell" maxlength="10" [(ngModel)]="account.customer_id.cell"><br><br>
  </div>
  <div class="email">
    <label>Email : </label>&nbsp;&nbsp;
    <input type="email" name="email" [(ngModel)]="account.customer_id.email"><br><br>

    <label>AccountType : </label>
    <select name="AccountType" id="AccountType" [(ngModel)]="account.account_type" style="width: 250px;"><br><br>
      <option value="selecttype">-- SELECT TYPE --</option>
      <option value="SAVINGS">SAVINGS</option>
      <option value="CURRENT">CURRENT</option>
    </select>

    <br><br>

    <label>UserName : </label>
    <input type="text" name="UserName" [(ngModel)]="account.customer_id.userName" size="50"><br><br>


    <label>Password : </label>&nbsp;&nbsp;
    <input type="password" id="password" name="password" pattern="[a-zA-Z0-9!@#$%^&*]{6,8}" required
      [(ngModel)]="account.customer_id.password" size="40"><br><br>



    <label>Confirm-Password : </label>&nbsp;
    <input type="password" id="Confirm-password" name="Confirm-password" pattern="[a-zA-Z0-9!@#$%^&*]{6,8}" required
       size="40"><br><br>



    <button type="submit" class="my-button">submit</button>
  </div>
</div>
</form>