.main-header{
    width: 100%;
    background-color: #088395;
    padding: 8px 16px;
  } 
  
  main{
    margin: 0;
  }
  .main-header__brand{
    text-decoration: none;
    font-weight: bolder;
    font-size: x-large;
    color: #99dbdd;
    margin-left: -225px;
  }
  
  .main-nav{
    width: 75%;
    text-align: right;
    
  }
  
  .main-nav__items{
    margin: 0;
    list-style: none;
    margin-right: -150px;
    
    
  }
  
  .main-header div , .main-nav{
    display: inline-block;
    
  }
  
  .main-nav__item{
    display: inline-block;
    padding: 10px;
    
  }
  .main-nav__items a{
    text-decoration: none;
    color:  #0e4f1f;
    font-weight: bold;
    
  }
  .main-nav__item__cta a{
    color: black;
    background-color: skyblue;
    padding: 5px 15px;
    border-radius: 8px;
    cursor: pointer;
    
  }
  .main-nav__items a:hover,
  .main-nav__items a:active{
    background-color: darkblue;
    color:white;
  }
  
  
  
  .main-nav__item__cta a:active,
  .main-nav__item__cta a:hover{
    background-color: darkblue;
    color: white;
    border: none;
  }
  
  .content{
    text-align: center;
  }
/* h1{
    text-align: center;
}
p{
    color: red;
    font-size: small;
}
a{
    color: aqua;
}

.main-header {
    width: 100%;
    margin-top:0px;
    background: #088395;
    padding: auto;
    text-align: left;
    text-decoration: none;
    
}
.main-header > div{
    display: inline-block;
} */
.login{
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
 
  top: 50%;
  left: 70%;
  width: 80%;
  margin: auto;
  /* position: absolute;
  
  transform: translate(-50%, -50%);
  z-index: 2;
  */
  padding: 20px;
  text-align: center;
  margin-top: 50px;
  border-radius: 20px;
  
}
.button{
    background-color: skyblue;
    padding: 8px;
    border-radius: 31px;
    border: 2px solid black;
    color: black;
    border-style: none;
    box-shadow: none;
    font-weight: bold;
    font:inherit;
    cursor: pointer;
}
.button:hover, .button:active{
    background-color: darkblue;
    color:white;
}
.button2{
    background-color: skyblue;
    padding: 8px;
    border-radius: 31px;
    border: 2px solid black;
    color:black ;
    border-style: none;
    box-shadow: none;
    font-weight: bold;
    font:inherit;
    cursor: pointer;
    margin-left: 1100px;
}
.button2:hover, .button2:active{
    background-color: darkblue;
    color: white;
}