<div class="background-image"></div>
<header class="main-header">
  <div>
      <a class="main-header__brand">
          iNB
      </a>
  </div><nav class="main-nav">
      <ul class="main-nav__items">
          <li class="main-nav__item main-nav__item__cta">
              <a href="adminlogin">Admin Login</a>
          </li>
      </ul>
  </nav>
</header>
<!-- <div class="main-header">
  <a>iNB</a>
  <br>
<button type="submit"  class="button2 " (click)="goToAdmin()"> &nbsp; Admin Login &nbsp;</button><br>
<br>
</div> -->
<div class="login">
<form (ngSubmit)="login()">
    <h1>Login</h1>
    <br>
    <label for="username">Username: &nbsp;&nbsp;</label>
    <input type="text" id="username" placeholder="username" [(ngModel)]="customerLogin.userName" name="username" required>
    <br><br>
    <label for="password">Password: &nbsp;&nbsp;</label>
    <input type="password" id="password" placeholder="password" [(ngModel)]="customerLogin.password" name="password" required>
    <br><br>
    <p [hidden]="customerLogin.userName==='' || customerLogin.password === '' " >{{customerLogin.message}}</p>
    <div >
    <button type="submit"  class="button"  > &nbsp;&nbsp;Login &nbsp;&nbsp;</button>
    <br><br>
    <a href="customerRegistration">New User? Register Here</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="forgotpassword">Forgot Password?</a>
    </div>
    <br><br>

  </form>
</div>