
body {

    background-image: url('./app/customer/logoinb.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    font-family: 'Lora', serif;
    text-align: center;
    
  }

  *{
    box-sizing: border-box;
  }