@import "~bootstrap-icons/font/bootstrap-icons.css";
body {

    /* background-image: url('./app/customer/logo-inb.png'); */
    
  
    text-align: center;
    
  }

  *{
    box-sizing: border-box;
    margin: 0;
  }
  body, html {
    max-width: 100%;
  }

  body {
    overflow-x: hidden;
  }
  * {
    margin: 0;
    padding: 0;
  }