<table>
  <tr>
      <th>Customer Id</th>
      <th>Name</th>
      <th>User Name</th>
      <th>Address</th>
      <th>Contact</th>
      <th>Password Count</th>
      <th>Customer Approve Action</th>
  </tr>
  <tr *ngFor="let customer of customers">
      <td>{{customer.customerId}}</td>
      <td>{{customer.firstName}}  {{customer.lastName}}</td>
      <td>{{customer.userName}}</td>
      <td>{{customer.addressLine1}},<br>{{customer.addressLine2}},<br>{{customer.addressLine3}}</td>
      <td>Phone:{{customer.phone}}<br>Email:{{customer.email}}</td>
      <td>{{customer.passwordReachLimit}}</td>
      <td>
          <button style="background-color: green;" (click)="resetPassword(customer.customerId)">Reset</button>
      </td>
  </tr>
</table>
