.check {
    position: relative;
    width: 800px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('./check.jpg'); 
    background-size: cover;
    margin: auto;
    
    padding: auto;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 100px;
    max-height: 50px;
}



.payer-info {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.date-info {
    position: absolute;
    top: 40px;
    right: 20px;
    text-align: right;
}

.issue-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

input {
    /* width: 200px;
    padding: 8px;
    font-size: 16px;
    
    border: 0px;
    border-bottom: 5px;
    border-width: 4px; */
    width: 400px;
    padding: 8px;
    font-size: 16px;
    background-color: transparent;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #170f0f;
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #9a9b97;
    border-radius: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
}
#date{
    width: 150px;
}


select {
    width: 200px; /* Set the desired width */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    cursor: pointer;
  }
  
  /* Style the options */
  select option {
    padding: 10px;
    font-size: 14px;
  }
  
  /* Style the select when it's focused */
  select:focus {
    outline: none;
    border-color: #4d90fe; /* Change the border color on focus */
    box-shadow: 0 0 5px rgba(77, 144, 254, 0.5); /* Add a subtle box shadow on focus */
  }