<select (change)="onaccountChange($event)"> 
    <option value="">select account</option>
    <option *ngFor="let account of accounts">{{account.account_id}}</option>
</select>
<div class="check">
  <img class="logo" src="logo.png" alt="Company Logo"> <!-- Add your logo image -->
  
  <div class="payer-info">

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="from-account">Sender Account</label><input type="text" id="payer" placeholder="Sender's Account" [(ngModel)]="accountid" name="payer-info" readonly>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label for="payer">Payer Account:</label>
      <input type="text" id="payer" placeholder="Payer's Account" [(ngModel)]="bankslip.payeraccountid.account_id" name="payer-info"><br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label for="amount">Amount:</label>
      <input type="text" id="amount" placeholder="0.00"  [(ngModel)]="bankslip.amount" name="amount" >
  </div>
  <div class="date-info">
      <label for="date">Date:</label>
      <input type="date" id="date"  [(ngModel)]="bankslip.chequedate" name="amount" >
  </div>
  <div class="issue-button">
      <button (click)="issueCheck()">Issue</button>
  </div>
</div>