.main-header{
    width: 100%;
    background-color: #088395;
    padding: 8px 16px;
  } 
  
  main{
    margin: 0;
  }
  .main-header__brand{
    text-decoration: none;
    font-weight: bolder;
    font-size: x-large;
    color: #99dbdd;
    margin-left: -225px;
  }